{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
    <h1 class="text-center">{{ titre }}</h1>

    <div style="max-width: 450px" class="mx-auto">

        {{ form(questionForm) }}

    </div>
{% endblock %}