{% extends "base.html.twig" %}

{% block title %}Create User{% endblock %}

{% block body %}

    <form class="mx-auto mt-5" style="max-width: 400px" method="post">
        <h1 class="text-center">Create User</h1>

        {% if error|default %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <div class="mb-2">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required>
        </div>
        <div class="mb-2">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Verify Password</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        {# CSRF #}
        <input type="hidden" name="csrf" value="{{ csrf_token('register_form') }}">
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>

{% endblock %}